body {
    background-color: rgb(227, 199, 199);
}

.h1tag,
.h3tag {
    text-align: center;
    margin-bottom: 100px;
}

.bold {
    font-weight: bold;
}

.recipelist {
    text-align: center;
    color: blueviolet;
    padding: 20px;
    border: dotted;

}

.listelement {
    padding: 10px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}